<!--::::::::::-->
<!--NAVIGATION-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/assets/logo-itskills.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 mb-lg-0 jus">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Quiénes Somos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-bs-toggle="dropdown" aria-expanded="false">
              Cursos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Eva</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contacto</a>
          </li>
        </ul>
        <div class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <a href="" ><img src="/assets/facebook-icon.png" class="icon-rrss" alt=""></a>
          <a href="" ><img src="/assets/insta-icon.png" class="icon-rrss" alt=""></a>
          <a href="" ><img src="/assets/twitter-icon.png"class="icon-rrss" alt=""></a>
        </div>
      </div>
    </div>
</nav>

<!-- HEADER & CAROUSEL -->
<!---.................---->

<header id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <div class="image-slider-1"></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</header>

<!-- ::::::::::: -->
<!-- CONTENT -->

<article class="container">

  <div class="row">

    <div class="title">
      <h2>CURSOS MÁS VISTOS</h2>
    </div>
    
    <div class="card col-lg-3">
      <img src="/assets/curso-rss.png" 
      class="card-img-top" alt="...">
    </div>

    <div class="card col-lg-3">
      <img src="/assets/python.png" 
      class="card-img-top" alt="...">
    </div>

    <div class="card col-lg-3">
      <img src="/assets/kotlin.png" 
      class="card-img-top" alt="...">
    </div>

    <div class="card col-lg-3">
      <img src="/assets/android.png" 
      class="card-img-top" alt="...">
    </div>

  </div>

  <div class="row">

    <div class="title">
      <h2>EQUIPO</h2>
    </div>
    
    <div class="card col-lg-3">
      <img src="/assets/team-profile1.png" 
      class="image-circle" alt="...">
    </div>

    <div class="card col-lg-3">
      <img src="/assets/team-profile2.png" 
      class="image-circle" alt="...">
    </div>

    <div class="card col-lg-3">
      <img src="/assets/team-profile3.png" 
      class="image-circle" alt="...">
    </div>

    <div class="card col-lg-3">
      <img src="/assets/team-profile4.png" 
      class="image-circle" alt="..."> 
    </div>

  </div>

  <div class="row">

    <div class="title">
      <h2>METODOLOGÍA</h2>
    </div>

    <div class="col-lg-7">

      <p class="card-text">
        Todos nuestros cursos y talleres aplican una metodología 
        de aprendizaje basado en proyectos(ABP).
        En esta metodología el estudiante desarrolla una solución satisfaciendo
        los requerimientos definidos en el proyecto.
      </p>

      <button class="button">SABER MÁS</button>
      
    </div>
    
    <div class="card col-lg-5 offset-lg-1">
      <img src="/assets/metodology.png" class="card-img-top image-card" alt="...">
    </div>

  </div>

</article>

<hr>

<!-- NEWSLETTER -->
<!-- ========== -->

<article class="content">

  <div class="row ">
    <div class="col-lg-12 col-sm-8 col-xs-5">
      <h2 class="banner-title ">Envíanos tu correo para recibir <br>
        eventos, descuentos y novedades</h2>
    </div>
  </div>

  <div class="text-center newsletter">
    <input type="text" class="input" placeholder="ignaciosegiodiaz@gmail.com">
    <button class="button">Enviar</button>
  </div>

</article>

<!-- ****** -->
<!-- FOOTER -->

<footer class="footer">

  <div class="row">

      <br>

      <div class="col-lg-4 col-sm-12">
        <h3 class="title-footer">Nuestra Dirección</h3>
        <p>
          Centro de Operaciones 
          Casa Matriz, San Andrés #4265, 
          Cerrillos, Santiago
          Región Metropolitana
        </p>
      </div>

      <div class="col-lg-4 col-sm-12">
        <h3 class="title-footer">Estamos Activos en las redes</h3>
        <div class="social-icons">
          <a href="" ><img src="/assets/facebook-icon.png" class="icon-rrss" alt=""></a>
          <a href="" ><img src="/assets/insta-icon.png" class="icon-rrss" alt=""></a>
          <a href="" ><img src="/assets/twitter-icon.png"class="icon-rrss" alt=""></a>
        </div>
      </div>

      <div class="row col-lg-4 col-sm-12">
        <h3 class="title-footer">Contáctenos</h3>
        <p><img src="/assets/wsp.png" width="30px"  class="icon-footer" alt=""> +5694203717</p>
        <p><img src="/assets/icon-gmail.png" width="30px"  class="icon-footer" alt="">contacto@itskills.cl</p>
      </div>
    </div>

</footer>
